__pycache__/
*.py[cod]
*.so
.ipynb_checkpoints/

datasets/*
!datasets/.gitkeep
pretrained/*.pth
pretrained/*.pt
pretrained/*.ckpt
experiments/
results/*
!results/.gitkeep
log
result
sde_state/
ode_state/
forward_state/

*.log
*.zip
